@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
/* @import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-color: #7FC1CD;
    --secondary-color: #FECA0C;
    --emphasis-color:#E884A8;
    --soft-emphasis-color:pink;
    --black-color:#333;
    --white-color:#f4f4f4;
    --subtitle-color:#999999;
    --background-section:#dff4ff;
    --font-primary: 'Poppins',serif;
    --font-secondary: 'Poppins', serif;
    --base-spacing: 1rem;
    --border:5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: medium;
}

body {
    font-family: var(--font-primary);
    line-height: 1.6;
    background-color: var(--white-color);
    /* background-color: var(); */
    color: var(--black-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: var(--base-spacing);
    /* margin-bottom: var(--base-spacing); */
    font-weight: bold;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
p {
    margin-bottom: var(--base-spacing);
}

.tapebar {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--black-color);
    align-items: center;
    color: var(--white-color);
}
.tapebar p.tapebar-message {
    color: var(--white-color);
    text-align: center;
    margin: 0;
}
.tapebar ul.tapebar-icons {
    display: flex;
    align-items: center;
}
ul.tapebar-icons li {
    margin: 5px;
}
ul.tapebar-icons li a {
    color: var(--white-color);
}
ul.tapebar-icons li a:hover {
    animation: bounce 0.3s ease;
}

ul.tapebar-icons li a:hover {
    color: var(--secondary-color);
    text-shadow: 0px 0px 10px var(--secondary-color);
}
