@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;500&family=roboto:wght@100..900&display=swap');

/* variables */
:root {
    --primary-color: #7fc1cd;
    --secondary-color: #feca0c;
    --emphasis-color: #e884a8;
    --soft-emphasis-color: pink;
    --black-color: #333;
    --white-color: #f4f4f4;
    --subtitle-color: #777;
    --background-section: #f3eaea;

    /* fonts */
    --font-primary: 'poppins', sans-serif;

    /* rules */
    --base-spacing: 1rem;
    --border-radius: 32px;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    background-color: var(--white-color);
    color: var(--black-color);
}

ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

/* top bar */
.top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 10px 10px;
    font-size: 14px;
}

.top-bar-message {
    text-align: center;
    margin: 0;
}

.top-bar-icons {
    display: flex;
    gap: 10px;
}

.top-bar-icons a {
    color: var(--white-color);
    transition: color 0.3s;
    text-decoration: none;
}

.top-bar-icons li:hover {
    color: var(--emphasis-color);
}

/* navbar */
.navbar {
    background: var(--white-color);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    justify-content: space-between;
}

.navbar-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

/* logo */
.navbar-logo {
    flex: 1;
    display: flex;
    justify-content: center;
}
.navbar-logo img {
    max-height: 90px;
}

/* buscador */
.navbar-search {
    display: flex;
    flex: 2;
    justify-content: center;
    border: 1.5px solid var(--black-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    max-width: 400px;
}

.navbar-search input {
    flex: 1;
    border: none;
    padding: 0 25px;
}

.navbar-button-search {
    background: var(--black-color);
    color: var(--white-color);
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}
.navbar-button-search:hover {
    background-color: var(--emphasis-color);
}

/* botones de usuario y carrito */
.navbar-search-buttons {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 15px;
}
a.button-car {
    color: var(--white-color);
    background-color: var(--black-color);   
}
.button-user,
.button-car {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--black-color);
    border-radius: var(--border-radius);
    padding: 6px 20px;
    width: 150px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--black-color);
}

.button-car:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}
.button-user:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

/* navbar links del menu */
.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-weight: 600;
    margin: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

.navbar-links a,
.navbar-links {
    color: var(--black-color);
    text-decoration: none;
    list-style: none;
}
.navbar-links li a:hover {
    color: var(--emphasis-color);
}
.navbar-links li:hover {
    transform: scale(1.05);
}

/* carrusel banner index */
/* estilos para el carrusel */
.carousel {
    position: relative;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* botones del carrusel */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--primary-color);
    border: none;
    padding: 7px;
    cursor: pointer;
    z-index: 1;
    border-radius: var(--border-radius);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* cards producto */
.card-product {
    width: 300px;
    background: var(--white-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 16px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-product:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* etiqueta nuevo */
.card-product-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--emphasis-color);
    color: var(--white-color);
    font-size: medium;
    padding: 5px 5px;
    border-radius: var(--border-radius);
}

/* img producto */
.card-product-content-img img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    object-fit: cover;
}

/* titulo card */
.card-product h3 {
    font-size: 18px;
    margin: 10px 0;
    color: var(--black-color);
}

/* precio */
.card-product-price {
    font-size:20px;
    font-weight: bold;
    color: var(--emphasis-color);
    margin: 5px 0;
}

.card-product-price small {
    font-size: 12px;
    color: var(--subtitle-color);
}

/* boton */
.card-product-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--emphasis-color);
    color: var(--white-color);
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background 0.3s ease;
}

.card-product-button:hover {
    background: var(--primary-color);
}

.card-product-button i {
    margin-right: 8px;
}

/* sección best seller */
#best-seller-section {
    padding: 40px 20px;
}
#best-seller-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--primary-color);
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* sección de categorías */
.category-container {
    display: flex;
    justify-content: center;
}
#categories-section {
    margin: 40px auto;
    text-align: center;
    padding: 20px 20px;
    background-color: var(--background-section);

}
#categories-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

/* tarjetas de categoría */
.card-category {
     margin: 0 10px;
     background: var(--white-color);
     border-radius: var(--border-radius);
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     overflow: hidden;
     text-align: center;
     flex-shrink: 0;
     padding: 20px; 
     display: block; 
     text-decoration: none; 
     cursor: pointer; 
     width: 150px; 
     height: 150px; 
     border-radius: 50%; 
    }

.card-category picture img {
    width: 100px;
    height: auto;
    object-fit: cover;
}

.card-category h3 {
    margin-top: 10px;
    font-size: 18px;
}
.card-category:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
/* about section */
#about-section {
    background-color: var(--background-section);
    padding: 60px 10%;
    display: flex;
    justify-content: center;
}

.container-about-section {
    display: flex;
    align-items: center;
    gap: 2em;
    background-color: #f7efe5; /* color similar al de la imagen */
    padding: 40px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
}

/* imagen */
.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img {
    width: 100%;
    max-width: 350px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* texto */
.text-about {
    flex: 1;
    text-align: left;
}

.text-about h4 {
    font-size: 24px;
    font-weight: bold;
}

.text-about p {
    font-size: 18px;
    color: var(--subtitle-color);
    margin-bottom: 15px;
}

/* botón */
.about-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    text-decoration: none;
    border-radius: var(--border-radius);
    transition: background 0.3s;
}

.about-button:hover {
    background-color: var(--primary-color);
}
